<div class="content">
  <div class="container-div">
    <button (click)="logout()" class="logout-btn mt-2">
      <div class="logout-div">
        <div>
          Logout
        </div>
        <div class="menu-icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" viewBox="0 0 512 512" height="15" width="15">
            <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
          </svg>
        </div>
      </div>
    </button>
  </div>
  <div class="header d-flex align-items-center">
    <button mat-raised-button color="primary" class="add-post" (click)="addPost()">
      Add Post
    </button>
  </div>
  <div class="mt-2">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="table-cls mat-elevation-z8">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>
            <div class="display-class">
              Sno.
            </div>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div class="display-class">
              {{ getSerialNumber(i) }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            <div class="display-class">
              Title
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="display-class">
              {{ element.title }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>
            <div class="display-class">
              Description
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="display-class">
              {{ element.description }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>
            <div class="display-class">
              Created At
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="display-class">
              {{ element.created_at | date:'medium' }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <div class="display-class">
              Actions
            </div>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div class="actions">
              <button *ngIf="selectedRow !== i" (click)="selectRow(i, $event)" class="actions-btn">
                <mat-icon>more_vert</mat-icon>
              </button>
              <div *ngIf="selectedRow === i" class="action-icons">
                <div (click)="editPost(element.id); $event.stopPropagation()">
                  <img src="../../../../assets/images/edit.png" alt="" width="30" />
                </div>
                <div (click)="deletePost(element.id); $event.stopPropagation()">
                  <img src="../../../../assets/images/delete.png" alt="" width="30" />
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation" *ngIf="dataSource.data.length > 0">
    <ul class="mat-pagination">
      <li class="mat-pagination-item" [class.disabled]="currentPage === 1">
        <button mat-icon-button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" aria-label="Previous">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </li>
      <li class="mat-pagination-item" *ngFor="let page of totalPages" [class.active]="currentPage === page">
        <button mat-button (click)="changePage(page)" [color]="currentPage === page ? 'primary' : ''">
          {{ page }}
        </button>
      </li>
      <li class="mat-pagination-item" [class.disabled]="currentPage === totalPages.length">
        <button mat-icon-button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages.length" aria-label="Next">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </li>
    </ul>
  </nav>
</div>
